.App {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.jeopardy-game {
  grid-area: header;
  font-size: 30pt;
  display: fixed;
  align-items: center;
  text-align: center;
  color: rgb(103, 10, 135);

}

.question {
  grid-area: play1;
  display: fixed;
  align-items: center;
  text-align: center;
  margin: 70px;
}

.answer {
  grid-area: play2;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.question-btn {
  border: 2px black;
  width: 100px;
  height: 50px;

}

.answer-btn {
  border: 2px black;
  width: 100px;
  height: 50px;

}